---
---

// Headers
$header-heading-color: #FF8A16 !default;
$header-bg-color: #2D2D2D !default;
$header-bg-color-secondary: #2D2D2D !default;

// Text
$section-headings-color: #FF8A16 !default;
$body-text-color: #EEE !default;
$body-link-color: #FF8A16 !default;
$blockquote-text-color: #DDD !default;

// Code
$code-bg-color: #2D2D2D !default;
$code-text-color: #EEE !default;

// Borders
$border-color: #333 !default;
$table-border-color: #333 !default;
$hr-border-color: #666 !default;

@import "{{ site.theme }}";

body {
    background-color: #191919;
}
